.services-main {
    display: flex;
    width: 100%;
    padding: 120px;
    justify-content: space-around;
}

.services-main-one {
    width: 50%;

    padding: "30px"

}

.services-main-two {
    width: 50%;
    /* height: 200px; */
    padding: 30px;
}

.services-main-two img {
    width: 100%;
    height: 600px;
    margin-top: -100px;
    /* margin-left: 30px; */
}

@media only screen and (max-width: 744px){
    .services-main{
    width: 100%;
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services-main-one{
        width: 100%;
        padding: 20px;
    }

        .services-main-two{
            width: 100%;
            padding: 20px;
            
            /* height: 0px !important; */
        }

                .services-main-two img{
                    height: 300px;
                    margin-top: 0px;
                }

        .listdiv ul li{
            /* margin-left: -70px; */
            /* margin-left: 20px; */
            padding: 20px 15px;
        }

        .listdiv{
            margin-left: 0px !important;
            padding: 0px !important;
        }
}