/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.menu-item {
    margin-left: 20px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #333;
        width: 150px;
    }

    .menu.active .menu-item {
        margin: 10px 0;
    }
}