.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../../assets/DiscoverSkew.png);
    background-repeat: repeat-y;
    background-color: rgb(241, 249, 250);
}

.content {
    width: 800px;
    padding: auto;
    text-align: center;
}

p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 744px){
    .main{
            width: 100%;
                padding: 10px !important;
    }

    .content{
            padding: 20px;
                width: 100%;
    }
}